<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-testencrypt" version="0.0.1">
   <name>TestEncrypt</name>

    <description>Test Encrypt</description>
    <license>MIT</license>
    
    <engines>
        <engine name="cordova" version=">=7.1.0"/>
    </engines>

   <js-module name="testEncrypt" src="www/testEncrypt.js">
      <clobbers target="window.plugins.testEncrypt" />
   </js-module>

   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="TestEncrypt">
            <param name="android-package" value="com.outsystemsenterprise.entel.PEMiEntel.cordova.plugin.TestEncrypt" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
      <source-file src="src/android/TestEncrypt.java" target-dir="src/com/outsystemsenterprise/entel/PEMiEntel/cordova/plugin" />
      <source-file src="src/android/EncryptedAndDecrypted.java" target-dir="src/com/outsystemsenterprise/entel/PEMiEntel/cordova/plugin" />
      <source-file src="src/android/AESUtil.java" target-dir="src/com/outsystemsenterprise/entel/PEMiEntel/cordova/plugin" />
      <source-file src="src/android/RSAutil2.java" target-dir="src/com/outsystemsenterprise/entel/PEMiEntel/cordova/plugin" />
		<framework src="src/android/dependencies.gradle" custom="true" type="gradleReference"/>
   </platform>
</plugin>